<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/static/Styles/home.css">
    <title>Home - iiitb i-Home</title>
</head>

<body>
    <h1>Welcome to IIITB i-Home</h1>
    <p>Info about college: International Institute of Information Technology, Bangalore is a premier technical
        institute.</p>
    <a href="/signup">Signup</a> | <a href="/login">Login</a><br>

    <h2>Fests</h2>
    <a href="https://infin8.iiitb.net/">infin8</a>
    <a href="https://synergy.iiitb.ac.in/">synergy</a>
    <a href="https://www.iiitb.ac.in/events-and-festivals/events/spandan">spandan</a>

</body>

</html>