<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Post</title>
</head>

<body>
    <h1>{{ post['title'] }}</h1>
    <p>Posted by User {{ post['user_id'] }}</p>
    {% if post['type'] == 'photo' %}
    <img src="{{ post['content'] }}" alt="Post Image">
    {% else %}
    <p>{{ post['content'] }}</p>
    {% endif %}
    {% if user_id == post["user_id"] %}
    <form action="/delete_post" method="POST">
        <input type="hidden" name="id" value="{{ post['id'] }}">
        <button type="submit">Delete</button>
    </form>
    {% endif %}
    <br>
    <a href="/posts">Back to Posts</a>
</body>

</html>