<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Post</title>
</head>

<body>
    <div class="post-container">
        <h1>{{ post['title'] }}</h1>
        <p>Posted by: {% if post.get('user') and post['user'].get('username') %}{{ post['user']['username'] }}{% else
            %}User {{ post['user_id'] }}{% endif %}</p>

        <!-- Display the content -->
        <p>{{ post['content'] }}</p>

        <!-- Display the image if available -->
        {% if post.get('image_url') %}
        <img src="{{ url_for('static', filename=post.get('image_url')) }}" alt="Post Image" class="post-image">
        {% endif %}

        {% if user_id == post["user_id"] %}
        <form action="/delete_post" method="POST">
            <input type="hidden" name="id" value="{{ post['id'] }}">
            <button type="submit" class="delete-button">Delete</button>
        </form>
        {% endif %}

        <a href="/posts" class="back-button">Back to Posts</a>
    </div>
</body>

</html>